<div class="grid-container full" id="cards">
  <div class="grid-x grid-margin-x small-up-1 large-up-2" id="cards">
    <div class="cell">
      <div class="grid-y grid-frame" id="cards-left">
        <% @cards[0].each do |card| %>
          <div class="cell">
            <%= render partial: 'cards/card_defer', object: card, as: :card %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cell">
      <div class="grid-y grid-frame" id="cards-right">
        <% @cards[1].each do |card| %>
          <div class="cell">
            <%= render partial: 'cards/card_defer', object: card, as: :card %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>