<div class="card card-form" style="width: 90%">
  <div class="card-divider card-form-title">
    Log in
  </div>
  <div class="card-section card-form-content">

    <% if alert %>
      <p class="alert" style="color: red"><%= alert %></p>
    <% end %>
    <% if notice %>
      <p class="alert"><%= notice %></p>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
