<tr id="<%= device.id %>">
  <td><%= device.id %></td>
  <td><%= device.name %></td>
  <td>
    <div class="switch no-margin">
      <input class="switch-input device-state-switch" id="device-state-switch-<%= device.id %>" type="checkbox" <%= device.enabled ? 'checked' : nil %> data-url="<%= device_path(device) %>">
      <label class="switch-paddle" for="device-state-switch-<%= device.id %>">
        <span class="switch-active" aria-hidden="true">Yes</span>
        <span class="switch-inactive" aria-hidden="true">No</span>
      </label>
    </div>
  </td>
  <td>
    <div class="button-group no-margin">
      <button class="button info edit-device-btn" data-url="<%= device_fields_path(device) %>">Edit</button>
      <button class="button alert delete-device-btn" data-url="<%= device_path(device) %>">Delete</button>
    </div>
  </td>
</tr>