<div class="table-scroll">
  <table class="no-margin" id="devices">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Enabled?</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @devices.each do |device| %>
      <%= render partial: 'devices/device_row', locals: {device: device} %>
    <% end %>

    <tr id="create-device-line">
      <td></td>
      <td>
        <input class="no-margin" id="new-device-name" type="text" placeholder="Name">
      </td>
      <td>
        <div class="switch disabled no-margin">
          <input class="switch-input" id="switch-create-device" type="checkbox" checked disabled>
          <label class="switch-paddle" for="switch-create-device">
            <span class="switch-active" aria-hidden="true">Yes</span>
            <span class="switch-inactive" aria-hidden="true">No</span>
          </label>
        </div>
      </td>
      <td>
        <button class="button success" id="create-device-btn" data-url="<%= devices_path %>">Create</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>