<li id="<%= notification.id %>">
  <div class="callout notification <%= notification.level %>">
    <span class="close-button dismiss-notification-btn" data-url="<%= notification_path(notification) %>" aria-hidden="true">&times;</span>
    <h6><b><%= notification.title %></b></h6>
    <% if notification.text %>
      <% notification.text.split("\n").each do |l| %>
        <p><%= l %></p>
      <% end %>
    <% end %>
    <p style="font-size: xx-small !important;">
      <% if Time.now - notification.created_at.localtime < 1.day %>
        <div class="notification-date"><%= distance_of_time_in_words(Time.now, notification.created_at.localtime) + ' ago' %></div>
      <% elsif Time.now - notification.created_at < 2.day %>
        <div class="notification-date"><%= notification.created_at.localtime.strftime('Yesterday, %H:%M') %></div>
      <% else %>
        <div class="notification-date"><%= notification.created_at.localtime.strftime('%B %d, %H:%M') %></div>
      <% end %>
    </p>
  </div>
</li>