<ul class="accordion" id="notifications-history" data-accordion data-allow-all-closed="true">
  <% @notifications.each do |notification| %>
    <li class="accordion-item notification-item <%= notification.unread? ? 'unread' : nil %>" id="<%= notification.id %>" data-id="<%= notification.id %>" data-accordion-item>
      <a class="accordion-title <%= notification.level %>"><span class="unread-marker"><%= notification.unread? ? 'unread - ' : nil %></span><%= notification.created_at.localtime.to_formatted_s :short %><b style="margin-left: 20px"><%= notification.title %></b></a>

      <div class="accordion-content" data-tab-content>
        <% if notification.text %>
          <% notification.text.split("\n").each do |l| %>
            <p><%= l %></p>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>