<h2>API Doc</h2></br>

<h3>Get values from a field</h3>
<code class="prettyprint">GET /devices/:device_id/fields/:field_id/values.json</code>
<h5 class="response">Response</h5>
<pre class="prettyprint lang-json">
  [
    {
      "id": "id",
      "value": value,
      "created_at": "created_at",
      "url": "url"
    }
  ]
</pre>
</br>

<h3>Get value from a field</h3>
<code>GET /devices/:device_id/fields/:field_id/values/:value_id.json</code>
<h5 class="response">Response</h5>
<pre class="prettyprint lang-json">
  {
    "id": "id",
    "value": value,
    "created_at": "created_at",
    "url": "url"
  }
</pre>
</br>

<h3>Send new value</h3>
<code>POST /devices/:device_id/fields/:field_id/values.json { "value": { "value": your_value } }</code>
<h5 class="response">Response</h5>
<pre class="prettyprint lang-json">
  {
  "id": "id",
  "value": value,
  "created_at": "created_at",
  "url": "url"
}
</pre>
</br>

<h3>Authentication</h3>
<p>To achieve these requests, you need to be authenticated</p>
<p>
  There is 2 methods to authenticate:
  <ul>
    <li><b>Params:</b> use user_email and user_token
    </li>
    <li><b>Headers:</b> use X-User-Email and X-User-Token
    </li>
  </ul>
  You can find your token in the Settings page
</p>