<tr id="<%= scenario.id %>">
  <td><%= scenario.id %></td>
  <td><%= scenario.name %></td>
  <td>
    <div class="switch no-margin">
      <input class="switch-input scenario-state-switch" id="scenario-state-switch-<%= scenario.id %>" type="checkbox" <%= scenario.enabled ? 'checked' : nil %> data-url="<%= scenario_path(scenario) %>">
      <label class="switch-paddle" for="scenario-state-switch-<%= scenario.id %>">
        <span class="switch-active" aria-hidden="true">Yes</span>
        <span class="switch-inactive" aria-hidden="true">No</span>
      </label>
    </div>
  </td>
  <td>
    <div class="button-group no-margin">
      <button class="button info edit-scenario-btn" data-url="<%= edit_scenario_path(scenario) %>">Edit</button>
      <button class="button alert delete-scenario-btn" data-url="<%= scenario_path(scenario) %>">Delete</button>
    </div>
  </td>
</tr>