<div class="grid-y">
  <div class="cell shrink title-cell">
    <h5 style="margin: 0">Edit Scenario</h5>
    <!--<button class="close-button" data-close aria-label="Close modal" type="button">-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  </div>
  <div class="cell shrink" style="margin-top: 16px">

    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Name</a></li>
      <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Conditions</a></li>
      <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Actions</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <div class="input-group">
          <span class="input-group-label">Name</span>
          <input class="input-group-field" id="scenario-name" type="text" placeholder="Name", value="<%= @scenario.name %>">
        </div>
        <button class="button no-margin next-tab">Next</button>
      </div>

      <div class="tabs-panel" id="panel2">
        <div class="input-group">
          <span class="input-group-label">Device</span>
          <%= select_tag(:scenario_device_id, options_for_select(current_user.devices.map {|device| [device.name, device.id]}.prepend(['Select a device', 0]), disabled: [0], selected: [0]), class: 'input-group-field') %>
        </div>

        <div class="input-group">
          <span class="input-group-label">Fields</span>
          <select class="input-group-field" id="scenario_field_id">
            <option selected disabled>Select a field</option>
          </select>
        </div>

        <div class="input-group">
          <span class="input-group-label">Position</span>
          <%= select_tag(:scenario_field_position, options_for_select([['Over', 'over'], ['Equal', 'equal'], ['Below', 'below']].prepend(['Select position', 0]), disabled: [0], selected: [0]), class: 'input-group-field') %>

          <span class="input-group-label" style="margin-left: 16px">Threshold</span>
          <input class="input-group-field" id="scenario_field_threshold" type="number" placeholder="0">
        </div>

        <button class="button" id="add-condition-btn">Add</button>

        <ul class="custom-list" id="conditions">
          <% if @scenario.conditions %>
            <% @scenario.conditions.each do |c| %>
              <li id="<%= c.id %>">
                <button class="delete-condition-btn" type="button" style="margin-right: 5px" data-id="<%= c.id %>">
                  <i class="fas fa-times" aria-hidden="true"></i>
                </button>
                <%= "#{c.field.device.name}:#{c.field.name} is #{c.field_position} #{c.field_threshold}" %>
              </li>
            <% end %>
          <% else %>
            <li>No conditions</li>
          <% end %>
        </ul>

        <button class="button no-margin next-tab">Next</button>
      </div>

      <div class="tabs-panel" id="panel3">
        <div class="input-group">
          <span class="input-group-label">Action</span>
          <%= select_tag(:action_type, options_for_select([['Notification', 'notification'], ['Email', 'email']].prepend(['Select an action', 0]), disabled: [0], selected: [0]), class: 'input-group-field') %>
        </div>

        <div class="action-selector hide" id="notification">

          <div class="input-group">
            <span class="input-group-label">Title</span>
            <input class="input-group-field" id="notification_title" type="text" placeholder="Title">
          </div>

          <div class="input-group">
            <span class="input-group-label">Text</span>
            <textarea class="input-group-field" id="notification_text" placeholder="Text"></textarea>
          </div>

          <div class="input-group">
            <span class="input-group-label">Level</span>
            <%= select_tag(:notification_level, options_for_select([['Info', 'info'], ['Success', 'success'], ['Warning', 'warning'], ['Alert', 'alert']].prepend(['Select level', 0]), disabled: [0], selected: [0]), class: 'input-group-field') %>
          </div>
        </div>

        <div class="action-selector hide" id="email">

          <div class="input-group">
            <span class="input-group-label">Object</span>
            <input class="input-group-field" id="email_object" type="text" placeholder="Object">
          </div>

          <div class="input-group">
            <span class="input-group-label">Text</span>
            <textarea class="input-group-field" id="email_text" placeholder="Text"></textarea>
          </div>
        </div>

        <button class="button" id="add-action-btn">Add</button>

        <ul class="custom-list" id="actions">
          <% if @scenario.actions %>
            <% @scenario.actions.each do |a| %>
              <li id="<%= a.id %>">
                <button class="delete-action-btn" type="button" style="margin-right: 5px" data-id="<%= a.id %>">
                  <i class="fas fa-times" aria-hidden="true"></i>
                </button>
                <% if a.action_type == 'email' %>
                  <%= "Email : #{a.email_object}" %>
                <% else %>
                  <%= "Notification : #{a.notification_level} : #{a.notification_title}" %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li>No actions</li>
          <% end %>
        </ul>

        <button class="button no-margin" id="update-scenario-btn" data-url="<%= scenario_path(@scenario) %>">Save</button>
      </div>
    </div>

  </div>
</div>