<div class="table-scroll">
  <table class="no-margin" id="scenarios">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Enabled?</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @scenarios.each do |scenario| %>
      <%= render partial: 'scenarios/scenario_row', locals: {scenario: scenario} %>
    <% end %>

    </tbody>
  </table>
</div>