<div class="card card-form">
  <div class="card-divider card-form-title">
    Forgot your password?
  </div>
  <div class="card-section card-form-content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
