<div class="card" id="<%= card.id %>" data-url="<%= card_path(card) %>">
  <div class="card-divider align-justify">
    <%= card.title %>
    <button class="menu-icon dark edit-card-btn" type="button" data-url="<%= edit_card_path(card) %>"></button>
  </div>
  <div class="card-section">
    <% if card.fields.first %>
      <% if card.card_type == 'graph' %>
        <%= line_chart card.fields.enabled.map {|field|
          {name: field.name, data: field.values.where('created_at > ?', Time.now - 1.week).pluck(:created_at, :value)}
        }, points: false, messages: {empty: "No data"} %>
      <% elsif card.card_type == 'value' %>
        <% card.fields.enabled.map {|field| field.last_value ? "#{field.name} : #{field.last_value.value} #{field.unit}" : "No data to show for #{field.name}"}.each do |data| %>
          <p><%= data %></p>
        <% end %>
      <% else %>
        <p>Invalid card type</p>
      <% end %>
    <% else %>
      <p>No data to show</p>
    <% end %>
  </div>
</div>