<div class="grid-y">
  <div class="cell shrink title-cell">
    <h5 style="margin: 0">Edit Card</h5>
  </div>
  <div class="cell shrink" style="margin-top: 16px">

    <div class="input-group">
      <span class="input-group-label">Title</span>
      <input class="input-group-field" id="card-title" type="text" placeholder="Title" value="<%= @card.title %>">
    </div>

    <div class="input-group">
      <span class="input-group-label">Card type</span>
      <%= select_tag(:card_type, options_for_select([['Graph', 'graph'], ['Value', 'value']].prepend(['Select a type', '']), disabled: [''], selected: [@card.card_type || '']), class: 'input-group-field') %>
    </div>

    <label>Device
      <%= select_tag(:device_id, options_for_select(current_user.devices.map {|device| [device.name, device.id]}.prepend(['Select a device', 0]), disabled: [0], selected: [@card.fields.first ? @card.fields.first.device.id : 0]), {"data-selected_ids" => @card.fields.enabled.ids}) %>
    </label>

    <fieldset class="fieldset" style="margin-top: 0">
      <legend>Fields</legend>
      <div id="fields-boxes">
        <% if @card.fields.first %>
          <% @card.fields.first.device.fields.enabled.each do |field| %>
            <input type="checkbox" class="field-box" value="<%= field.id %>" <%= 'checked' if @card.fields.ids.include? field.id %>><label><%= field.name %></label>
          <% end %>
        <% else %>
          No available fields
        <% end %>
      </div>
    </fieldset>

    <button class="button" id="update-card-btn" data-url="<%= card_path(@card) %>" data-card_id="<%= @card.id %>">Update</button>
    <button class="button alert float-right" id="delete-card-btn" data-url="<%= card_path(@card) %>">Delete</button>

  </div>
</div>