<div class="grid-y">
  <div class="cell shrink title-cell">
    <h5 style="margin: 0">New Card</h5>
    <!--<button class="close-button" data-close aria-label="Close modal" type="button">-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  </div>
  <div class="cell shrink" style="margin-top: 16px">

    <div class="input-group">
      <span class="input-group-label">Title</span>
      <input class="input-group-field" id="card-title" type="text" placeholder="Title">
    </div>

    <div class="input-group">
      <span class="input-group-label">Card type</span>
      <%= select_tag(:card_type, options_for_select([['Graph', 'graph'], ['Value', 'value']].prepend(['Select a type', '']), disabled: [''], selected: ['']), class: 'input-group-field') %>
    </div>

    <div class="input-group">
      <span class="input-group-label">Device</span>
      <%= select_tag(:device_id, options_for_select(current_user.devices.map {|device| [device.name, device.id]}.prepend(['Select a device', 0]), disabled: [0], selected: [0]), class: 'input-group-field') %>
    </div>

    <fieldset class="fieldset" style="margin-top: 0">
      <legend>Fields</legend>
      <div id="fields-boxes">
        No available fields
      </div>
    </fieldset>

    <button class="button" id="create-card-btn" data-url="<%= cards_path %>">Create</button>

  </div>
</div>