@import "foundation";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "layout";
@import "devices";
@import "fields";
@import "documentation";
@import "scenarios";
@import "notifications";

.no-margin {
  margin: 0;
}

.switch.disabled {
  opacity: 0.50;
  pointer-events: none;
}

.fa-times {
  color: red;
}