#devices {
  .button {
    margin-bottom: 0;
    color: white;
  }
  .dropdown-pane {
    width: auto;
    padding: 0;
    .button {
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;
    }
  }
}