.no-margin {
  margin: 0 !important;
}

.title-bar {
  padding: 0.5rem 16px;
  .title-bar-title {
    margin-left: 16px;
  }
}

#sidebar {
  .sidebar-title {
    background: #d7d7d7;
    height: 43.31px;
    padding: 8px;
    text-align: center;
  }
  .sidebar-menu {
    background: #e6e6e6;
  }
  a {
    color: white;
    background: #41adce;
  }
  a.active {
    background: #1d73cb;
  }
  li {
    padding-bottom: 0.1rem;
  }
  .sidebar-menu-text {
    margin-left: 16px;
  }
}

#notifications-bar {
  .sidebar-title {
    background: #d7d7d7;
    height: 43.31px;
    padding: 8px;
    text-align: center;

    #clear-all-notifications-btn {
      margin-left: 50px;
      cursor: pointer;
    }
  }
  .sidebar-menu {
    background: #e6e6e6;
    padding-bottom: 5px;

    .notification {
      margin: 5px 5px 0;
      padding: 10px;

      .close-button {
        top: 1px;
        right: 7px;
      }

      p {
        line-height: 1.3;
        margin: 0;
      }
    }
  }
  //a {
  //  color: white;
  //  background: #41adce;
  //}
  //a.active {
  //  background: #1d73cb;
  //}
  //li {
  //  padding-bottom: 0.1rem;
  //}
  .sidebar-menu-text {
    margin-left: 16px;
  }
}

.position-right {
  width: 400px;
  transform: translateX(400px);
}

.off-canvas-content.is-open-right.has-transition-push {
  transform: translateX(-400px);
}

#page-title {
  background: #f9f9f9;
  box-shadow: 1px 1px 2px transparentize(black, 0.9);
  padding: 15px 16px 10px 16px;
}

#page-content {
  padding: 16px;
  max-height: 100%;
}

.card-form {
  width: auto;
  max-width: 40vw;
  margin: auto;
  position: relative;
  top: 16px;

  .card-form-title {
    background: #d7d7d7;
  }
  .card-form-content {
    background: #f5f5f5;
  }
}