.accordion-title.info {
  background: $white;
}

.accordion-title.success {
  background: scale-color(map-get($foundation-palette, success), $lightness: $callout-background-fade);
}

.accordion-title.warning {
  background:scale-color(map-get($foundation-palette, warning), $lightness: $callout-background-fade);
}

.accordion-title.alert {
  background: scale-color(map-get($foundation-palette, alert), $lightness: $callout-background-fade);
}