<tr id="<%= field.id %>">
  <td><%= field.id %></td>
  <td><%= field.name %></td>
  <td>
    <div class="switch no-margin">
      <input class="switch-input field-state-switch" id="field-state-switch-<%= field.id %>" type="checkbox" <%= field.enabled ? 'checked' : nil %> data-url="<%= device_field_path(field.device, field) %>">
      <label class="switch-paddle" for="field-state-switch-<%= field.id %>">
        <span class="switch-active" aria-hidden="true">Yes</span>
        <span class="switch-inactive" aria-hidden="true">No</span>
      </label>
    </div>
  </td>
  <td><%= field.unit %></td>
  <td>
    <div class="button-group no-margin">
      <a class="button warning clear-field-btn" data-url="<%= clear_device_field_path(field.device, field) %>">Clear</a>
      <a class="button alert delete-field-btn" data-url="<%= device_field_path(field.device, field) %>">Delete</a>
    </div>
  </td>
</tr>