<div class="grid-y">
  <div class="cell shrink title-cell">
    <h5 style="margin: 0">Fields</h5>
  </div>

  <div class="cell shrink" style="margin-top: 16px">
    <div class="table-scroll">
      <table class="no-margin" id="fields">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Enabled?</th>
          <th>Unit</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @fields.each do |field| %>
          <%= render partial: 'field_row', locals: {field: field} %>
        <% end %>
        <tr id="create-device-line">
          <td></td>
          <td>
            <input class="no-margin" id="new-field-name" type="text" placeholder="Name">
          </td>
          <td>
            <div class="switch disabled no-margin">
              <input class="switch-input" id="switch-create-field" type="checkbox" checked disabled>
              <label class="switch-paddle" for="switch-create-field">
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </td>
          <td>
            <input class="no-margin" id="new-field-unit" type="text" placeholder="Unit">
          </td>
          <td>
            <button class="button success" id="create-field-btn" data-url="<%= device_fields_path(@device) %>">Create</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>