<div class="grid-y grid-frame" id="notifications-bar">
  <div class="cell shrink sidebar-title">
    <b >Notifications</b>
    <i class="fas fa-trash-alt" id="clear-all-notifications-btn" data-url="<%= dismiss_all_notifications_path %>"></i>
  </div>
  <div class="cell auto sidebar-menu" style="overflow-y: auto">
    <ul class="vertical menu" id="notifications-list">
      <% current_user.notifications.unread.order(created_at: :desc).each do |notification| %>
        <%= render partial: 'notifications/notification', locals: {notification: notification} %>
      <% end %>
    </ul>
  </div>
  <div class="cell shrink sidebar-title" style="cursor: pointer" onclick="window.location='<%= history_notifications_path %>';">
    <b>See all</b>
  </div>
</div>