<div class="grid-y grid-frame" id="sidebar">
  <div class="cell shrink sidebar-title">
    <b>Vesta</b>
  </div>
  <div class="cell auto sidebar-menu">
    <ul class="vertical menu">
      <li>
        <a class="sidebar-btn <%= 'active' if controller_name == 'dashboard' %>" id="dashboard-btn" href="<%= root_path %>">
          <i class="fa fa-tachometer-alt fa-fw" aria-hidden="true"></i>
          <span class="sidebar-menu-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a class="sidebar-btn <%= 'active' if controller_name == 'devices' %>" id="devices-btn" href="<%= devices_path %>">
          <i class="fa fa-rss fa-fw" aria-hidden="true"></i>
          <span class="sidebar-menu-text">Devices</span>
        </a>
      </li>
      <li>
        <a class="sidebar-btn <%= 'active' if controller_name == 'scenarios' %>" id="scenarios-btn" href="<%= scenarios_path %>">
          <i class="fa fa-link fa-fw" aria-hidden="true"></i>
          <span class="sidebar-menu-text">Scenarios</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="cell shrink sidebar-menu">
    <ul class="vertical menu">
      <li>
        <a class="sidebar-btn <%= 'active' if controller_name == 'registrations' %>" id="settings-btn" href="<%= edit_user_registration_path %>">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
          <span class="sidebar-menu-text">Settings</span>
        </a>
      </li>
      <li>
        <a class="sidebar-btn  <%= 'active' if controller_name == 'documentation' %>" id="infos-btn" href="<%= documentation_path %>">
          <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
          <span class="sidebar-menu-text">Documentation</span>
        </a>
      </li>
    </ul>
  </div>
</div>