<div class="title-bar sticky" data-sticky data-sticky-on="small" data-margin-top="0">
  <div class="title-bar-left">
    <button class="menu-icon dark hide-for-large" type="button" data-open="offCanvas"></button>
    <span class="title-bar-title hide-for-large">Vesta</span>
  </div>
  <div class="title-bar-right">
    <button class="button tiny no-margin" data-open="offCanvasRight">
      <i class="fas fa-bell"></i>
      <span style="margin-left: 10px">Notifications</span>
      <% if current_user.notifications.unread.count > 0 %>
        <span style="margin-left: 10px" id="notifications-counter"><%= current_user.notifications.unread.count %></span>
      <% end %>
    </button>
    <a class="button tiny no-margin" href="<%= destroy_user_session_url %>" data-method="delete"><i class="fas fa-sign-out-alt"></i><span style="margin-left: 10px">Log off</span></a>
  </div>
</div>