<!DOCTYPE html>
<html>
<head>
  <title>Vesta</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<% if user_signed_in? %>

  <div class="off-canvas position-left reveal-for-large" id="offCanvas" data-off-canvas data-transition="overlap">
    <%= render partial: 'layouts/sidebar' %>
  </div>
  <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <%= render partial: 'layouts/notifications_bar' %>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    <%= render partial: 'layouts/title_bar' %>

    <div id="page-title">
      <div class="grid-x">
        <div class="cell auto no-margin">
          <h5 class="no-margin"><%= controller_name == 'registrations' ? 'Settings' : controller_name.capitalize %></h5>
        </div>
        <% if controller_name == 'dashboard' %>
          <div class="cell shrink no-margin">
            <button class="button tiny no-margin" id="new-card-btn" data-url="<%= new_card_path %>">New card</button>
          </div>
        <% elsif controller_name == 'scenarios' %>
          <div class="cell shrink no-margin">
            <button class="button tiny no-margin" id="new-scenario-btn" data-url="<%= new_scenario_path %>">New scenario</button>
          </div>
        <% end %>
      </div>
    </div>


    <div id="page-content">
      <%= yield %>
    </div>
  </div>
  <div class="reveal large" id="remote-modal-large" data-reveal></div>
  <div class="reveal" id="remote-modal" data-reveal></div>
<% else %>
  <%= yield %>
<% end %>

<%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
<%= javascript_include_tag 'https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
