<div class="grid-x">

  <div class="large-8 medium-8 small-12 large-offset-2 medium-offset-2">
    <%= devise_error_messages! %>

    <label>Access token</label>
    <div class="input-group">
      <input class="input-group-field" id="token" type="text" readonly="readonly" value="<%= current_user.authentication_token %>">
      <div class="input-group-button">
        <button class="button show-for-medium" id="reset-token-btn">Regenerate</button>
        <button class="button show-for-small-only" id="reset-token-btn">
          <span data-tooltip data-click-open="false" class="bottom" tabindex="2" title="Regenerate">R</span></button>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <label>(Currently waiting confirmation for: <%= resource.unconfirmed_email %>)</label>
        <% end %>
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label 'Password ' + (@minimum_password_length ? "(#{@minimum_password_length.to_s} characters minimum)" : '') %>
        <label>(leave blank if you don't want to change it)</label>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password, style: 'color: red' %>
        <label style="color: red">(we need your current password to confirm your changes)</label>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: 'button' %>
      </div>
    <% end %>

    <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'button alert' %>

  </div>
</div>